# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        { 'label': 'Generate for Project', 'command': 'symbol-gen:generate' }
        { 'label': 'Purge Generated Tags', 'command': 'symbol-gen:purge' }
      ]
    ]
  }
]
