# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {
      'label': 'Enable symbol-gen'
      'command': 'symbol-gen:generate'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Auto Symbol Generator'
      'submenu': [
        { 'label': 'Enable for Project', 'command': 'symbol-gen:generate' }
        { 'label': 'Purge Tags', 'command': 'symbol-gen:purge' }
      ]
    ]
  }
]
